* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}

img {
	width: 100%;
	display: block;
}

.header{
	background: #111;
}

.header__logo{
	max-width: 600px;	
}

.tabcontent{
	margin: 20px auto;
	max-width: 500px;
}

.tabcontent__list{
	font-size: 0;
}
.tabcontent__tab{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	font-size: medium;
	text-align: center;
	padding: 30px 0;
   color: #fff;
	background: rgb(0, 156, 214);
	cursor: pointer;
}

.tabcontent__tab{
	border-right: 1px solid #fff;
}

.tabcontent__tab.active{
	background: rgb(201, 0, 98);
}

.tabcontent__content{
	border: 1px solid #333;
	padding: 10px;
	line-height: 1.5;
}

.smalltext{
	font-size: .75rem;
	line-height: 1.25;

}


